{% extends '::index.html.twig' %}

{% block title %}Mesa{% endblock %}

{% block content %}
    {% if pedido %}
        <h1 class="well">Detalle pedido {{ pedido.id }}</h1>

    {% if detalle %}

            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                {% for de in detalle %}
                    <tr>
                        {% if de.dpedido.id == pedido.id %}
                            <td>{{ de.nombreProducto }}</td>
                            {% if de.listo==true %}
                                <td>Listo</td>
                            {% else %}
                                    <td>{{ de.cantidad }}</td>
                            {% endif %}

                            <td> <a href="{{ path('listo', {'deP': de.id }) }}" class="btn btn-success btn-lg">Listo</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>No hay usuarios para mostrar</h2>


   {% endif %}


        <a href="{{ path('inicio') }}" class="btn btn-success btn-lg">
            Volver
        </a>

    <a href="{{ path('terminado', {'pedido': pedido.id}) }}" class="btn btn-success btn-lg">Terminado</a>
        {% else %}
            <a href="{{ path('inicio') }}" class="btn btn-success btn-lg">
                Volver
            </a>
        <h2>No hay pedido</h2>
    {% endif %}
{% endblock %}