{% extends '::index.html.twig' %}

{% block title %}Gestión de Productos{% endblock %}

{% block content %}
    <h2 class="well">{{ tipoProducto.tipo }}</h2>

    {% if producto %}

           <table>
               <tbody>
               {% for p in producto %}
                    <tr>
                        <td>
                            <strong>{{ p.nombreProducto }}</strong>
                        </td>
                        <td>
                            <em>&nbsp;................................&nbsp;</em><span>{{ p.precio }}€ &nbsp;&nbsp;&nbsp;</span>
                        </td>


                        <td>
                            <form action="{{ path('pedir', { 'producto': p.id }) }}" method="post">
                                Cantidad:&nbsp; <input type="number" name="cantidad" style="width: 50px;" value="1">
                                <button class="btn btn-success btn-sm" type="submit" name="pedirP">pedir </button>
                            </form>
                        </td>


                    </tr>
               {% endfor %}
               </tbody>
           </table>


    {% else %}
        <h2>No hay productos para mostrar</h2>
    {% endif %}
    <br><br>
    <a href="{{ path('cuenta') }}" class="btn btn-success btn-lg">
        Terminar el Pedido
    </a>
    <a href="{{ path('inicio') }}" class="btn btn-success btn-lg">
        Seguir pidiendo
    </a>
{% endblock %}