{% extends '::index.html.twig' %}
{% block title %}Cuenta{% endblock %}
 {% block content %}

  <h2 class="well">Cuenta</h2>

  {% if mesa %}
      <p>Mesa {{ mesa.id }}</p>
             <p>Su cuenta actual es de : {{ mesa.cuenta }} €
      <a href="{{ path('pagar') }}" class="btn btn-success btn-lg">
          Pagar
      </a>
             </p>
    {% endif %}
  {% if pedido %}


          <table class="table table-bordered table-condensed table-hover table-striped">
              <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
              </tr>
              </thead>
              <tbody>
              {% for pe in pedido %}
                  <tr>
                      <td>{{ pe.0.nombreProducto }}</td>
                      <td>{{ pe.0.precio }}€</td>
                     <td>{{ pe.1 }}</td>
                      <td>
                          <form action="{{ path('pedir', { 'producto': pe.0.id }) }}" method="post">
                              <button class="btn btn-danger btn-sm" type="submit" name="borrarP">Borrar </button>
                          </form>
                      </td>
                  </tr>
              {% endfor %}

              <tr><td>Total: {% if total %} {{ total }} {% else %} 0 {% endif %}€</td></tr>

              </tbody>
          </table>

  {% endif %}

  <a href="{{ path('realizar_pedido') }}" class="btn btn-success btn-lg">
   Confirmar
  </a>
  <a href="{{ path('inicio') }}" class="btn btn-success btn-lg">
   Volver
  </a>
 {% endblock %}
