{% extends '::index.html.twig' %}
{% block title %}Cuenta{% endblock %}
 {% block content %}

  <h2 class="well">Cuenta</h2>
     {% for flash_message in app.session.flashbag.get('notice') %}
         <div class="flash-notice">
             {{ flash_message }}
         </div>
     {% endfor %}


  {% if mesa %}
      <p>Mesa {{ mesa.id }}</p>
             <p>Su cuenta actual es de : {{ mesa.cuenta }} €
                  <a href="{{ path('pagar') }}" class="btn btn-success btn-lg">
                      Pedir la cuenta
                  </a>
                 <a href="{{ path('ver_cuenta') }}" class="btn btn-info btn-lg">
                     Ver la cuenta completa
                 </a>
             </p>
    {% endif %}
  {% if pedido %}


          <table class="table table-bordered table-condensed table-hover table-striped">
              <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
              </tr>
              </thead>
              <tbody>
              {% for pe in pedido %}
                  {% if pe.1 != 0 %}

                      <tr>
                          <td>{{ pe.0.nombreProducto }}</td>
                          <td>{{ pe.0.precio }}€</td>
                         <td>{{ pe.1 }}</td>
                          <td>
                              <form action="{{ path('pedir', { 'producto': pe.0.id }) }}" method="post">
                                  <button class="btn btn-danger btn-sm" type="submit" name="borrarP">Borrar </button>
                              </form>
                          </td>
                      </tr>
                  {% endif %}
              {% endfor %}

              <tr><td>Total: {% if total %} {{ total }} {% else %} 0 {% endif %}€</td></tr>

              </tbody>
          </table>

  {% endif %}
{% if mesa %}
  <a href="{{ path('realizar_pedido') }}" class="btn btn-success btn-lg">
   Confirmar
  </a>
{% else %}
    <a href="{{ path('ver_cuenta') }}" class="btn btn-info btn-lg">
        Ver la cuenta completa
    </a>
{% endif %}
  <a href="{{ path('inicio') }}" class="btn btn-success btn-lg">
   Volver
  </a>
 {% endblock %}
