{% extends '::index.html.twig' %}
{% block title %} Inicio {% endblock %}
 {% block stylesheets %}
     #a{
     margin-top: 60px !important;
     }
 {% endblock %}
 {% block content %}
     <h3>Bienvenido {{ usuarios.nombreUsuario }}</h3>
     <br/>
     {% if tipoProducto %}
         <div class="row">
         {% for t in tipoProducto %}

             <form action="{{ path('ver_productos', { 'tipoProducto': t.id }) }}" method="post">
                 <button class="btn btn-lg btn-primary btn-block" type="submit" name="ver_pro">{{ t.tipo }} </button>
             </form>

         {% endfor %}
         </div>
     {% else %}
         <h2>No hay productos para mostrar</h2>
     {% endif %}

     {% if usuarios.esCliente == true %}
         <div class="row">
            <a href="{{ path('cuenta') }}" role="button" class="btn btn-success btn-block active" id="a">Ver cuenta</a>
         </div>
     {% endif %}

     {% if usuarios.esAdmin == true %}
         <div class="row">
             <a href="{{ path('inicio') }}" role="button" class="btn btn-success btn-block active" id="a">Ir al panel de administracion</a>
         </div>
     {% endif %}

     {% if usuarios.esCamarero == true %}
         <div class="row">
             <a href="{{ path('inicio') }}" role="button" class="btn btn-success btn-block active" id="a">Ver las mesas y pedidos</a>
         </div>
     {% endif %}
 {% endblock %}