{% extends '::index.html.twig' %}
{% block title %} Inicio {% endblock %}
 {% block stylesheets %}
     #a{
     margin-top: 60px !important;
     }
 {% endblock %}
 {% block content %}
     <h3>Bienvenido {{ usuarios.nombreUsuario }}</h3>
     <br/>
     {% if usuarios.esCliente == true %}
         {% if usuarios.mesaOcupada == 0 %}

             {% if mesa %}
                 <form action="{{ path('inicio')}}" method="post">
                 <p>Seleccione la mesa</p>

                     <select name="Nmesa" class="form-control">
                     {% for m in mesa %}
                         {% if m.estado != "ocupado" and m.estado != "cuenta pedida"%}
                            <option value="{{ m.id }}" name="Nmesa2"><label>Mesa : {{ m.id }}  {{ m.estado }}</label></option>
                         {% endif %}
                     {% endfor %}
                 </select>
                     <button class="btn btn-success btn-block active" type="submit" name="ocupar" >Ocupar mesa</button>
                 </form>

             {% endif %}

         {% else %}

             {% if tipoProducto %}
                 <div class="row">
                 {% for t in tipoProducto %}

                     <form action="{{ path('ver_productos', { 'tipoProducto': t.id }) }}" method="post">
                         <button class="btn btn-lg btn-primary btn-block" type="submit" name="ver_pro">{{ t.tipo }} </button>
                     </form>

                 {% endfor %}
                 </div>
             {% else %}
                 <h2>No hay productos para mostrar</h2>
             {% endif %}
         {% endif %}
     {% endif %}

     {% if usuarios.esCliente == true %}
         <div class="row">
            <a href="{{ path('cuenta') }}" role="button" class="btn btn-success btn-block active" id="a">Ver cuenta</a>
         </div>
     {% endif %}

     {% if usuarios.esAdmin == true %}
         <div class="row">
             <a href="{{ path('administracion') }}" role="button" class="btn btn-success btn-block active" id="a">Ir al panel de administracion</a>
         </div>
     {% endif %}

     {% if usuarios.esCamarero == true %}
         <div class="row">
             <a href="{{ path('inicio') }}" role="button" class="btn btn-success btn-block active" id="a">Ver las mesas y pedidos</a>
         </div>
     {% endif %}
 {% endblock %}