{% extends '::index.html.twig' %}

{% block title %}Almacen{% endblock %}

{% block content %}
    <h2 class="well">Almacén</h2>

    {% if almacen %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Ingrediente/producto</th>
                <th>stock</th>
                <th>stock Minimo</th>
                <th>reponer</th>
            </tr>
            </thead>
            <tbody>
            {% for al in almacen %}
                <tr>
                    {% if al.stock < al.stockMin %}
                    <td>{{ al.nombreIngrediente }}</td>
                    <td>{{ al.stock }}</td>
                    <td>{{ al.stockMin }}</td>

                        <td>Si</td>


                    <td>
                        <a href="{{ path('almacen_modificar', { 'almacen': al.id }) }}" class="btn btn-warning btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i> Modificar stock
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No hay productos en el almacen para mostrar</h2>
    {% endif %}

    <a href="{{ path('almacen_nuevo') }}" class="btn btn-success btn-lg">
        Nuevo producto
    </a>
    <a href="{{ path('inicio') }}" class="btn btn-success btn-lg">
        Volver
    </a>
{% endblock %}