{% extends '::index.html.twig' %}

{% block title %}Listar ingredientes{% endblock %}

{% block content %}
    <h2 class="well">{{ producto.nombreProducto }}</h2>
    {% if ingrediente %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for ing in ingrediente %}
                <tr>
                    <td>{{ ing.nombreIngrediente }}</td>
                    <td>{{ ing.cantidad}}</td>
                    <td>
                        <a href="{{ path('ingrediente_modificar', { 'ingrediente': ing.id }) }}"  class="btn btn-warning btn-sm">
                            <i class="glyphicon glyphicon-pencil"></i> Modificar
                        </a>
                    </td>
                    <td><form action="{{ path('ingrediente_eliminar', {'ingrediente': ing.id}) }}" method="post">
                            <button class="btn btn-danger btn-sm" type="submit" name="eliminar_ing">Eliminar </button>
                        </form></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No hay ingredientes para mostrar</h2>
    {% endif %}
    <a href="{{ path('ingrediente_nuevo', { 'producto': producto.id }) }}" class="btn btn-success btn-lg">
        Nuevo ingrediente
    </a>
    <a href="{{ path('inicio') }}" class="btn btn-success btn-lg">
        Volver
    </a>
{% endblock %}